.homepage {
  font-size: 20px;
  background: #f9f8f8;
  min-height: 600px;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 50px 0px 0px 0px;
}

.content {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  color: #274c5b;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
